.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

.orange {
  color: #f17900;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;
  max-width: 600px;
  height: 40px;
  background-color: #fff;
}

.search-icon-button {
  background-color: transparent;
  border: none;
  padding-left: 8px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.search-icon {
  width: 16px;
  height: 16px;
  display: block;
  padding-left: 1px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: #333;
}

.search-input::placeholder {
  color: #aaa;
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-right: 28%;
  padding-bottom: 15px;
}

.sort-group {
  display: flex;
  align-items: center;
}

.sort-group label {
  margin-right: 5px;
}

.sort-container label {
  margin-right: 5px;
  font-size: 15px;
  color: #333;
}

.sort-container select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.image-block {
  width: 280px;
  height: 270px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition:
    transform 0.1s ease,
    box-shadow 0.3s ease;
}

.image-block:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-label {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 3px;
  padding: 6px 10px;
  background-color: transparent;
  color: #888;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.pagination button:hover {
  background-color: #ddd;
  color: #333;
}

.pagination button.active {
  background-color: #f17900;
  color: white;
  border-color: #f17900;
}

.no-results {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.favorite-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .text-overlay {
    font-size: 1.5em;
  }

  .search-input-wrapper {
    height: 35px;
  }

  .search-icon {
    width: 14px;
    height: 14px;
  }

  .search-input {
    font-size: 12px;
    padding: 6px;
  }

  .sort-container label {
    font-size: 11px;
  }

  .sort-container select {
    font-size: 11px;
    padding: 4px 6px;
  }

  .image-block {
    width: calc(50% - 10px);
  }
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.fullscreen-image-block {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  max-width: 800px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.fullscreen-image-block .grid-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.fullscreen-image-block .image-label {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  color: black;
  text-align: left;
  padding: 5px 10px;
  font-size: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 12px;
}

.fullscreen-image-block .image-label span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.fullscreen-image-block .favorite-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  flex-shrink: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  padding: 7px 8px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.close-button img {
  width: 20px;
  height: 20px;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.arrow-button img {
  width: 50px;
  height: 50px;
}

.arrow-button.left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.arrow-button.right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
