nav ul {
  display: flex;
  gap: 6em;
}

nav ul li {
  font-size: 20px;
  list-style: none;
  padding-left: 25px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li.category::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 25px;
  height: 19px;
  background-image: url('@icons/Vector.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

nav ul li.images::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 25px;
  height: 19px;
  background-image: url('@icons/Image.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

nav ul li.favourities::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 25px;
  height: 19px;
  background-image: url('@icons/Favourities.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
